body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #e0f7fa, #007bb5);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  animation: fadeIn 1s ease-in;
}

.container {
  width: 100%;
  max-width: 400px;
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  animation: popUp 0.3s ease-out;
}

.todo-app h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.todo-app img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

#todo-form .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

#add-button {
  padding: 10px 15px;
  background-color: #007bb5;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#list-container {
  list-style-type: none;
  padding: 0;
}

#list-container li {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0f8ff;
  transition: background-color 0.3s ease;
  animation: fadeInTask 0.5s ease-in-out;
}

#list-container li.checked {
  background-color: #d4edda; 
  text-decoration: line-through;
}

#list-container li button {
  background-color: #007bb5;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

#list-container li .edit-btn {
  background-color: #007bb5;
}

#todo-counter {
  text-align: center;
  font-size: 16px;
  color: #007bb5;
  font-weight: bold;
  margin-top: 15px;
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 123, 181, 0.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes popUp {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes fadeInTask {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideOut {
  to {
    transform: translateX(100%);
    opacity: 0;
  }
  
}

#search-input {
  padding: 10px;
  border: 1px solid #009688;
  border-radius: 5px;
  width: calc(100% - 22px); 
  margin-bottom: 10px;
  font-size: 16px; 
}
