body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 100%;
  max-width: 400px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-app h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

.todo-app img {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

#todo-form .row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

#todo-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}


#add-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-left: 10px;
}

#add-button:hover {
  background-color: #218838;
}

#list-container {
  list-style-type: none;
  padding: 0;
}

#list-container li {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Delete button styling */
#list-container li button.delete-btn {
  background-color: #ab71ae;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

#list-container li button.delete-btn:hover {
  background-color: #c49bc6;
}

/* Edit button styling */
#list-container li button.edit-btn {
  background-color: #656065; 
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px; 
}

#list-container li button.edit-btn:hover {
  background-color: #c87ddd; 
}

#list-container li button.edit-btn[style*="display: none"] {
  display: none;
}
